*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: rgb(44, 62, 80);
}

.wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(127, 140, 141);
    text-align: center;
}

.material-symbols-outlined{
    font-size:15rem;
}

.lg-text{
    font-size:2.5rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.sm-text{
    font-size:1rem;
}

#dynamic{
    position: relative;
    display: inline-block;
}

#dynamic::after{
    content:"";
    display: block;
    position: absolute;
    top: 0;
    right: -10px;
    width: 4px;
    height: 100%;
    background-color: white;
}

#dynamic.active::after{
    display: none;
}